
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #7287fd;
 /* #bde0fe; */
  color: #000;
}

.main {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  font-family: arial;
}

.container {
  margin: 20px;
  text-align: center;
}

button:hover {
  background: #f4b8e4;
}


button {
  width: 200px;
  height: 100px;
  background: #ea76cb;
  border: none;
  border-radius: 5px;
  font-size: 32px;
}

.buttons {
  margin-top: 150px;
}

#result {
  font-size: 1.6rem;
  margin-top: 120px;
  font-family: monospace;
}
